biopython==1.87
gensim==4.4.0
h5py==3.14.0
keras==3.14.0
matplotlib==3.10.8
numpy==2.4.4
pandas==3.0.2
plotly==6.7.0
scikit-learn==1.7.0
scipy==1.17.1
streamlit==1.56.0
tensorflow==2.21.0
tf_keras==2.21.0
torch==2.11.0
tqdm==4.67.3
transformers==4.52.4
